#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define GAMING_LAYER 3

/ {
    behaviors {
        media_pp_next_prev: media_pp_next_prev {
            compatible = "zmk,behavior-tap-dance";
            label = "MEDIA_PP_NEXT_PREV";
            #binding-cells = <0>;
            bindings = <&kp C_PP>, <&kp C_NEXT>, <&kp C_PREV>;
        };

        esc_tilda: esc_tilda {
            compatible = "zmk,behavior-mod-morph";
            label = "ESC_TILDA";
            bindings = <&kp ESC>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        ALTF4 {
            bindings = <&kp LA(F4)>;
            key-positions = <0 51 0>;
        };
    };

    macros {
        gbp: gbp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N1 &kp KP_N5 &kp KP_N6>,
                <&macro_release>,
                <&kp LALT>;

            label = "GBP";
            wait-ms = <0>;
        };

        eur: eur {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_N8>,
                <&macro_release>,
                <&kp LALT>;

            label = "EUR";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | ESC/~ |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   -   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   =   |
            // | LCTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MEDIA |  | HOME  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  SPACE |  | BKSPC | RAISE| ENTER | ALT   |GAMING|

            bindings = <
&esc_tilda  &kp N1  &kp N2    &kp N3    &kp N4     &kp N5                                   &kp N6  &kp N7   &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB     &kp Q   &kp W     &kp E     &kp R      &kp T                                    &kp Y   &kp U    &kp I      &kp O    &kp P     &kp EQUAL
&kp LCTRL   &kp A   &kp S     &kp D     &kp F      &kp G                                    &kp H   &kp J    &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT   &kp Z   &kp X     &kp C     &kp V      &kp B   &media_pp_next_prev    &kp HOME  &kp N   &kp M    &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                    &kp LGUI  &kp LALT  &kp LCTRL  &mo 1   &kp SPACE              &kp BSPC  &mo 2   &kp RET  &kp RALT   &to 3
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |       |  *  |  7  |  8   |  9   |  +   |                   |  £   |   {   |   }   |      |       |  F12  |
            // |       |  /  |  4  |  5   |  6   |  -   |                   |  $   |   [   |   ]   |      |   \   |   |   |
            // |       |  0  |  1  |  2   |  3   |  .   |        |  |  END  |  €   |   (   |   )   |      |       |       |
            //               |     |      |      |      |        |  |  DEL  |      |       |       |      |

            bindings = <
&kp GRAVE  &kp F1     &kp F2  &kp F3  &kp F4  &kp F5                        &kp F6      &kp F7    &kp F8    &kp F9  &kp F10   &kp F11
&trans     &kp STAR   &kp N7  &kp N8  &kp N9  &kp PLUS                      &gbp        &kp LBRC  &kp RBRC  &trans  &trans    &kp F12
&trans     &kp SLASH  &kp N4  &kp N5  &kp N6  &kp MINUS                     &kp DOLLAR  &kp LBKT  &kp RBKT  &trans  &kp BSLH  &kp PIPE
&trans     &kp N0     &kp N1  &kp N2  &kp N3  &kp DOT    &trans    &kp END  &eur        &kp LPAR  &kp RPAR  &trans  &trans    &trans
                      &trans  &trans  &trans  &trans     &trans    &kp DEL0 &trans      &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |BTCLR| BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |     | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |   0   |       |
            // |     | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
            // |     | UNDO | CUT  | COPY  | PASTE |      | MUTE |  |      |      |      |       |      |       |       |
            //              |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                        &trans     &trans    &trans    &trans     &trans   &trans
&trans      &kp INS       &kp PSCRN     &kp K_CMENU   &trans        &trans                              &kp PG_UP  &trans    &kp UP    &trans     &kp N0   &trans
&trans      &kp LALT      &kp LCTRL     &kp LSHFT     &trans        &kp CLCK                            &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp DEL  &kp BSPC
&trans      &kp K_UNDO    &kp K_CUT     &kp K_COPY    &kp K_PASTE   &trans        &kp C_MUTE    &trans  &trans     &trans    &trans    &trans     &trans   &trans
                          &trans        &trans        &trans        &trans        &trans        &trans  &trans     &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_FF C_RW>, <&inc_dec_kp UP DOWN>;
        };

        // ------------------------------------------------------------------------------------------------------------
        // | ESC  |   `   |   1   |   2   |   3   |   4   |                |      |      |       |      |       |       |
        // |  T   |  TAB  |   Q   |   W   |   E   |   R   |                |      |      |       |      |       |       |
        // |  G   | CTRL  |   A   |   S   |   D   |   F   |                |      |      |       |      |       |       |
        // |  B   | SHIFT |   Z   |   X   |   C   |   V   | MEDIA | | MUTE |      |      |       |      |       |       |
        //                |   5   |   6   |   7   |   8   | SPACE | |LAYER0|      |      |       |      |

        gaming_layer {
            bindings = <
&kp ESC  &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4                                     &trans  &trans  &trans  &trans  &trans  &trans
&kp T    &kp TAB    &kp Q   &kp W   &kp E   &kp R                                      &trans  &trans  &trans  &trans  &trans  &trans
&kp G    &kp LCTRL  &kp A   &kp S   &kp D   &kp F                                      &trans  &trans  &trans  &trans  &trans  &trans
&kp B    &kp LSHFT  &kp Z   &kp X   &kp C   &kp V   &media_pp_next_prev    &kp C_MUTE  &trans  &trans  &trans  &trans  &trans  &trans
                    &kp N5  &kp N6  &kp N7  &kp N8l &SPACE                 &to 0       &trans  &trans  &trans  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp SPACE SPACE>,
                <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
